 <h3>Task List</h3>
    <ul class="list-group">
      <li *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between">
        <span>{{ task.title }}</span>
        <span class="badge bg-{{ task.priority.toLowerCase() }}">{{ task.priority }}</span>
        <button class="btn btn-info" [routerLink]="['/tasks', task.id]">Details</button>
        <button class="btn btn-warning" [routerLink]="['/tasks/edit', task.id]">Edit</button>
        <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
      </li>
    </ul>